In [1]:
import pandas as pd
booking = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';')

In [2]:
booking.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [3]:
booking.rename(columns = {'Hotel': 'hotel', 'Is Canceled': 'is_canceled', 'Lead Time': 'lead_time', 'arrival full date': 'arrival_full_date',
       'Arrival Date Year': 'arrival_date_year', 'Arrival Date Month': 'arrival_date_month', 'Arrival Date Week Number': 'arrival_date_week_number',
       'Arrival Date Day of Month': 'arrival_date_day_of_month', 'Stays in Weekend nights': 'stays_in_weekend_nights',
       'Stays in week nights': 'stays_in_week_nights', 'stays total nights': 'stays_total_nights', 'Adults': 'adults', 'Children': 'children',
       'Babies': 'babies', 'Meal': 'meal', 'Country': 'country', 'Reserved Room Type': 'reserved_room_type', 'Assigned room type': 'assigned_room_type',
       'customer type': 'customer_type', 'Reservation Status': 'reservation_status', 'Reservation status_date': 'reservation_status_date'}, inplace = True)

Исправьте ситуацию: приведите названия столбцов к нижнему регистру и замените пробелы на знак нижнего подчёркивания. Например: Is Canceled -> is_canceled

In [4]:
booking.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

Пользователи из каких стран совершили наибольшее число успешных бронирований? 
Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [14]:
booking_top5 = booking.query('is_canceled == 0') \
    .country \
    .value_counts()

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [38]:
booking_count = round(booking[booking['hotel'] == 'Resort Hotel'].stays_total_nights.mean(), 2)

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

In [47]:
booking.query('reserved_room_type != assigned_room_type').shape

(14917, 21)

Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [59]:
booking.query('arrival_date_year == 2017') \
    .arrival_date_month \
    .value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [79]:
booking[booking['hotel'] == 'City Hotel'].query('arrival_date_year == 2016') \
    .groupby('arrival_date_month')['is_canceled'] \
    .sum() \
    .sort_values()

arrival_date_month
January       438
February      930
July         1043
December     1072
March        1108
August       1247
November     1360
May          1436
April        1539
September    1567
June         1720
October      1947
Name: is_canceled, dtype: int64

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [80]:
booking.children.mean()

0.10388990333874994

In [81]:
booking.adults.mean()

1.8564033838679956

In [82]:
booking.babies.mean()

0.007948739425412514

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [95]:
booking['total_kids'] = booking.children + booking.babies

In [97]:
round(booking.groupby('hotel').agg({'total_kids': 'mean'}), 2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

In [109]:
booking['has_kids'] = booking.total_kids > 0
booking.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False

In [116]:
churn_rate = booking.query('is_canceled == 1 and has_kids == False').shape[0] / booking.query('has_kids == False').shape[0]
print('{:.2%}'.format(churn_rate))

37.22%

In [118]:
churn_rate_new = booking.query('is_canceled == 1 and has_kids == True').shape[0] / booking.query('has_kids == True').shape[0]
print('{:.2%}'.format(churn_rate_new))

34.92%